<mat-toolbar color="primary" class="mat-elevation-z8 toolbar">
  <span class="toolbar-title">JOURNAL</span>
  <span class="spacer"></span>
  <!-- <button mat-icon-button matTooltip="Logout" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button> -->
  <app-header></app-header>
</mat-toolbar>

<div class="admin-layout" fxLayout="row" fxLayoutAlign="start stretch" fxFlexFill>
  <div fxFlex="20" fxFlex.xs="100" class="sidebar">
    <app-sidebar></app-sidebar>
    <!-- <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/articleHub/dashboard">
        <mat-icon>home</mat-icon>
        <span class="nav-text">Dashboard</span>
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/articleHub/users">
        <mat-icon>group</mat-icon>
        <span class="nav-text">Users</span>
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/articleHub/category">
        <mat-icon>category</mat-icon>
        <span class="nav-text">Category</span>
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/articleHub/article">
        <mat-icon>description</mat-icon>
        <span class="nav-text">Articles</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="active" routerLink="/articleHub/help">
        <mat-icon>help_outline</mat-icon>
        <span class="nav-text">Help</span>
      </a>
    </mat-nav-list> -->
  </div>
  <div fxFlex="80" fxFlex.xs="100" class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
