.dialog-content {
  display: flex;
  flex-direction: column;
}

.dialog-row {
  display: flex;
  flex-wrap: wrap;

  mat-form-field {
    flex: 1 1 100%;

    &:first-child {
      margin-right: 20px;
    }
  }
}