<mat-toolbar>
    <mat-toolbar-row fxLayout="row">
        <span>{{dialogData.action}} Article</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
    <form [formGroup]="articleForm">
        <div class="dialog-content">
            <div class="dialog-row">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title" required> 
                    <mat-error *ngIf="articleForm.controls.title.touched && articleForm.controls.title.invalid">
                        <span *ngIf="articleForm.controls.title.errors.required">This field is required.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="dialog-row">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Article Content</mat-label>
                    <textarea matInput formControlName="content" rows="10" placeholder="Enter article content..." required></textarea>
                    <mat-error *ngIf="articleForm.controls.content.touched && articleForm.controls.content.invalid">
                      <span *ngIf="articleForm.controls.content.errors.required">This field is required.</span>
                    </mat-error>
                  </mat-form-field>
            </div>
            <div class="dialog-row">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="categoryId">
                        <mat-option *ngFor="let category of categories" [value]="category.id">
                            {{category.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="articleForm.controls.categoryId.touched && articleForm.controls.categoryId.invalid">
                        <span *ngIf="articleForm.controls.categoryId.errors.required">This field is required.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option value="draft">Draft</mat-option>
                        <mat-option value="published">Publish</mat-option>
                    </mat-select>
                    <mat-error *ngIf="articleForm.controls.status.touched && articleForm.controls.status.invalid">
                        <span *ngIf="articleForm.controls.status.errors.required">This field is required.</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button type="submit" (click)="handleSubmit()" 
    [disabled]="!(articleForm.valid && articleForm.dirty)">{{action}}</button>
    <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions> 
