body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

mat-toolbar {
    background-color: #000000;
    /* Use primary color */
    color: white;

    .title {
        font-size: 1.5rem;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    mat-icon {
        color: white;
    }
}


.dialog-content {
    padding: 24px;
    /* Increase padding for better spacing */
    font-size: 1rem;
    /* Adjust font size for better readability */
    line-height: 1.5;
    /* Improve text readability */
}

.article-info {
    margin-bottom: 16px;

    /* Add space between article info and content */
    >div {
        margin-bottom: 8px;
        /* Add space between each item */
    }
}

.article-content {
    margin-top: 16px;
    /* Add space between the divider and the content */
}

mat-dialog-actions {
    margin-top: 16px;

    /* Space above the buttons */
    button {
        font-weight: bold;
        /* Make the button text bold */
    }
}