body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

mat-toolbar {
    background-color: #000000;
    /* Use primary color */
    color: white;

    .title {
        font-size: 1.5rem;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    mat-icon {
        color: white;
    }
}

.date {
    font-size: 0.875rem;
    color: #888;
    margin-bottom: 16px;
}

.email {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    app-avatar {
        margin-right: 8px;
    }

    span {
        font-size: 0.875rem;
        color: #333;
    }
}

.content {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 24px;
}

.like-section {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    mat-icon {
        color: #e91e63;
        /* Use pink color for like icon */
    }

    span {
        margin-left: 8px;
        font-size: 0.875rem;
        color: #333;
    }
}

.comment-section {
    margin-bottom: 32px;

    .full-width {
        width: 100%;
    }

    button {
        margin-top: 8px;
        text-transform: none;
        border-radius: 8px;
    }
}

.comments {

    h3 {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }

    .comment {
        display: flex;
        margin-bottom: 16px;
        margin-top: 16px;


        .email {
            margin-bottom: 4px;

            .comment-date {
                font-size: 0.75rem;
                color: #888;
            }
        }

        p {
            margin: 0;
            font-size: 0.875rem;
            color: #555;
        }
    }
}

.email-comment {
    background-color: #e2e2e2;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.no-comments {
    font-size: 0.875rem;
    color: #555;
    text-align: center;
    margin-top: 24px;
}