<app-auth-form
  [title]="'Welcome to Journal.dev'"
  [formGroup]="signupForm"
  [fields]="[
    { label: 'Name', type: 'text', formControlName: 'name', errorMessages: { required: 'This field is required' } },
    { label: 'Email', type: 'text', formControlName: 'email', errorMessages: { required: 'This field is required', pattern: 'This field is invalid' } },
    { label: 'Password', type: 'password', formControlName: 'password', errorMessages: { required: 'This field is required' } }
  ]"
  [submitButtonText]="'Sign up'"
  [alternateRoute]="{ text: 'Already have an account?', buttonText: 'Login', route: '/login' }"
  (formSubmit)="handleSubmit()"
></app-auth-form>
