/* CSS to replace Angular Flex-Layout */
.toolbar-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
}

mat-toolbar {
    background-color: #000000;
    /* Use primary color */
    color: white;
}