<mat-toolbar>
    <mat-toolbar-row fxLayout="row">
        <div class="title">
            {{articleDetails?.title}}
        </div>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
    <div class="date">
        Published on {{articleDetails.publication_date | date:'dd MMM, yyyy'}}
    </div>

    <div class="email">
        <app-avatar
          [initials]="articleDetails.userEmail.charAt(0).toUpperCase()"
          [backgroundColor]="getAvatarColor(articleDetails.userEmail)">
        </app-avatar>
        {{ articleDetails?.userEmail }}
      </div>
      {{ articleDetails.content }}
        <!-- Like button section -->
        <div class="like-section">
            <button mat-icon-button (click)="toggleLike()">
                <mat-icon>{{ isLiked ? 'favorite' : 'favorite_border' }}</mat-icon>
            </button>
            <span>{{ likeCount }} {{ likeCount === 1 ? 'Like' : 'Likes' }}</span>
        </div>
    <div>
        <div class="comment">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput [(ngModel)]="commentText"></textarea>
            </mat-form-field>
            <button  mat-raised-button (click)="submitComment()">Comment</button>
        </div>
    </div>
    <div *ngIf="comments.length > 0">
        <h3>Comments</h3>
        <mat-divider></mat-divider>
        <div *ngFor="let comment of comments">
            <div class="email">
                <app-avatar
                [initials]="comment.user_name.charAt(0).toUpperCase()"
                [backgroundColor]="getAvatarColor(comment.user_name)">
              </app-avatar>
            <p><strong>{{comment.user_name}}</strong> [{{comment.comment_date | date:'dd MMM, yyyy'}}]</p>
        </div>
            <p>{{comment.comment_text}}</p>
            <mat-divider></mat-divider>
        </div>
    </div>
    <div *ngIf="comments.length === 0">
        <p>No comments yet. Be the first to comment!</p>
    </div>
</mat-dialog-content>
