<mat-toolbar>
    <div class="mat-toolbar-row-custom">
        <span>{{dialogData.action}} Category</span>
    </div>
</mat-toolbar>

<mat-dialog-content>
    <form [formGroup]="categoryForm" class="form-container">
        <div class="form-field-row">
            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="categoryForm.get('name').touched && categoryForm.get('name').hasError('required')">
                    This field is required.
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button type="submit" (click)="handleSubmit()" 
    [disabled]="!(categoryForm.valid && categoryForm.dirty)">{{action}}</button>
    <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions> 
