body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    // background-color: #f5f5f5;

}

mat-card.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    width: 250px;
    height: 250px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 20px;
    position: relative;
}

mat-card.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

// .card-content {
//     flex-grow: 1;
// }

.filter-form-field {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}


.card {
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-category {
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    text-align: start;
    // font-weight: bold;
    margin-top: 20px;
    display: inline-block;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.card-footer {
    display: flex;
    padding: 10px;
    font-size: 16px;
    border-top: 1px solid
}

.card-date {
    text-align: left;
    font-size: 14px;
    color: #888;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.card-email {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Space between the avatar and the email */
}

// .avatar {
//     width: 30px;
//     height: 30px;
//     border-radius: 50%;
//     // background-color: #000000;
//     /* Background color of the circle */
//     color: black;
//     /* Text color inside the circle */
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-weight: bold;
//     font-size: 14px;
// }


.card-stats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
    margin-top: 8px;
}

.likes,
.comments {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

mat-icon {
    margin-right: 4px;
    color: #888;
}