<mat-toolbar color="primary" class="mat-elevation-z8 toolbar">
  <span class="toolbar-title">
    <img src="../../assets/images/logo-journal-dev.png" alt="Description de l'image" style="height: 200px; vertical-align: middle;" >
  </span>
  <span class="spacer"></span>
  <!-- <button mat-icon-button matTooltip="Logout" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button> -->
  <app-header></app-header>
</mat-toolbar>

<div class="admin-layout">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
