 <div>
    <div class="content">
    <div class="category-buttons">
      <button mat-button *ngFor="let category of categories" class="category-button" 
              [ngClass]="{'active': selectedCategoryId === category.id}"
              (click)="filterByCategory(category.id)">
        {{ category.name }}
      </button>
      <button mat-button *ngIf="selectedCategoryId" (click)="filterByCategory(null)">
        x
      </button>
    </div>
    <mat-form-field appearance="fill" class="filter-form-field">
      <mat-label>Filter</mat-label>
      <input matInput [(ngModel)]="searchText" (input)="filteredItem()" />
    </mat-form-field>
    <div style="display: flex; justify-content: center;">
      <mat-icon>date_range</mat-icon>
      <h2>Recent posts</h2>
    </div>
  </div>
  
    <div class="card-container">
      <!-- <mat-card *ngFor="let card of filteredItem()" class="card" (click)="handleViewAction(card)">
        <div class="card-content">
          <div class="card-email">
            <div class="avatar" [ngStyle]="{'background-color': getAvatarColor(card.userEmail)}">
              {{ card.userEmail.charAt(0).toUpperCase() }}
            </div>
            {{ card.userEmail }}
          </div>
          <div class="card-category">
            {{ card.categoryName }}
          </div>
          <div class="card-title">
            {{ card.title }}
          </div>
          <div class="card-date">
            {{ card.publication_date | date: 'dd MMM, yyyy' }}
          </div>
          <div class="card-stats">
            <span class="likes">
              <mat-icon>favorite</mat-icon>
              {{ card.likeCount }}
            </span>
            <span class="comments">
              <mat-icon>comment</mat-icon>
              {{ card.commentCount }}
            </span>
          </div>
        </div>
      </mat-card> -->
      <app-article-card *ngFor="let card of filteredItem()"
            [title]="card.title"
            [categoryName]="card.categoryName"
            [publicationDate]="card.publication_date"
            [userEmail]="card.userEmail"
            [likeCount]="card.likeCount"
            [commentCount]="card.commentCount"
            [avatarColor]="getAvatarColor(card.userEmail)"
            (cardClick)="handleViewAction(card)"
      >
    </app-article-card>
    </div>
      <h1 *ngIf="filteredItem()?.length === 0">Nothing to show</h1>
  </div>
  