<div *ngIf="isLoading; else content">
  <h1>Loading articles...</h1>
</div>

<ng-template #content>
  <div class="content">
    <div class="category-buttons">
      <button mat-button *ngFor="let category of categories" class="category-button" 
              [ngClass]="{'active': selectedCategoryId === category.id}"
              (click)="filterByCategory(category.id)">
        {{ category.name }}
      </button>
      <button mat-button *ngIf="selectedCategoryId" (click)="filterByCategory(null)">
        x
      </button>
    </div>
    <mat-form-field appearance="fill" class="filter-form-field">
      <mat-label>Filter</mat-label>
      <input matInput [(ngModel)]="searchText" (input)="filteredItem()" />
    </mat-form-field>
    <div style="display: flex; justify-content: center;">
      <mat-icon>date_range</mat-icon>
      <h2>Recent posts</h2>
    </div>
  </div>
  
  <div class="card-container">
    <app-article-card *ngFor="let card of filteredItem()"
      [title]="card?.title"
      [categoryName]="card?.category?.name"
      [publicationDate]="card?.publication_date"
      [userEmail]="card?.user?.email"
      [likeCount]="card?.likeCount"
      [commentCount]="card?.commentCount"
      [avatarColor]="getAvatarColor(card?.user?.email)"
      (cardClick)="handleViewAction(card)">
    </app-article-card>
  </div>

  <h1 *ngIf="filteredItem()?.length === 0">Nothing to show</h1>
</ng-template>
