<app-auth-form 
[title]="'Welcome to Journal.dev'"
[formGroup]="loginForm"
  [fields]="[{ label: 'Email', type: 'text', formControlName: 'email', errorMessages: { required: 'This field is required', pattern: 'This field is invalid' } },
    { label: 'Password', type: 'password', formControlName: 'password', errorMessages: { required: 'This field is required' } }]"
  [submitButtonText]="'Login'"
  [alternateRoute]="{ text: 'Not a member yet?', buttonText: 'Sign up', route: '/signup' }"
  (formSubmit)="handleSubmit()"
></app-auth-form>