<div class="login-container">
    <div class="login-left">
      <h1>Exam Mastery Hub</h1>
      <p>
        Unleash Your Academic Success with Exam Mastery Hub's Exam Excellence
        Platform
      </p>
    </div>
    <div class="login-right">
      <form [formGroup]="signupForm" (ngSubmit)="handleSubmit()">
        <div fxFlex fxLayout="column">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Name</mat-label>
            <input matInput type="name" formControlName="name" required />
            <mat-error *ngIf="signupForm.controls.name.touched && signupForm.controls.name.invalid">
              <span *ngIf="signupForm.controls.name.errors.required">This field is required</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required />
            <mat-error *ngIf="signupForm.controls.email.touched && signupForm.controls.email.invalid">
              <span *ngIf="signupForm.controls.email.errors.required">This field is required</span>
              <span *ngIf="signupForm.controls.email.errors.pattern">This field is invalid</span>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required />
            <mat-error *ngIf="signupForm.controls.password.touched && signupForm.controls.password.invalid">
              <span *ngIf="signupForm.controls.password.errors.required">This field is required</span>
            </mat-error>
          </mat-form-field>
  
          <button mat-raised-button color="primary" [disabled]="!(signupForm.valid && signupForm.dirty)" type="submit">
            Sign up
          </button>
            <span>Already have an account? 
              <button mat-icon-button [routerLink]="['/login']" class="link-button" aria-label="Login">Login</button>
            </span>
        </div>
      </form>
    </div>
  </div>
  