<mat-toolbar>
    <div class="toolbar-row">
        <span>View Article</span>
    </div>
</mat-toolbar>

<mat-dialog-content class="dialog-content">
    <div>
        Title: {{ article?.title }}
        <br>
        Category: {{ article?.categoryName }}
        <br>
        Status: {{ article?.status }}
    </div>
    <mat-divider></mat-divider>
    <div>{{ article?.content }}</div>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
